/**=====================
  5.3 Header CSS Start
==========================**/

.left-header {
  display: flex;
  align-items: center;
  gap: 8px;

  h1 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 0.25rem;
    @media (max-width: 991px) {
      margin-bottom: 0;
    }
    @media (max-width: 755px) {
      display: none;
    }
  }

  .custom-breadcrumb {
    @media (max-width: 991px) {
      display: none;
    }
  }
}
.custom-breadcrumb {
  .breadcrumb {
    gap: 10px;
    .breadcrumb-item {
      position: relative;
      font-weight: $breadcrumb-weight;
      font-size: $breadcrumb-size;
      line-height: $breadcrumb-line-height;
      &:not(.active), a {
         color: var(--body-light-font-color);
      }
      &.active {
        color: var(--body-font-color);
      }
      + .breadcrumb-item {
        &::before {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: var(--body-light-font-color);
          padding-right: 0;
          bottom: 8px;
          position: absolute;
          left: -3px;
        }
      }
    }
  }
}

/*======= Page Header css ends  ======= */


/**======Main Header css Start ======**/
.offcanvas,
.offcanvas-bookmark {
  .page-wrapper {
    .page-body-wrapper {
      .page-body {
        position: relative;
        filter: blur(5px) grayscale(100%);
      }
    }
  }
}

.offcanvas {
  position: unset;
  visibility: visible;
  background: unset;
  z-index: 2;
}

.toggle-sidebar {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 7.7982px 17.3293px rgba(0, 157, 181, 0.07);
  border-radius: 2px;
  svg {
    width: $header-wrapper-nav-icon-size;
    height: $header-wrapper-nav-icon-size;
    stroke: var(--body-font-color);
  }

  &:hover {
    >svg {
      color: var(--theme-deafult) !important;
      stroke: var(--theme-deafult) !important;
    }
  }
}

.onhover-dropdown {
  cursor: pointer;
  position: relative;

  &:hover {
    .onhover-show-div {
      @extend %for-animated-hover-box;
    }
  }
}

.onhover-show-div {
  top: 80px;
  position: absolute;
  z-index: 8;
  background-color: $white;
  transition: all linear 0.3s;
  @extend %for-animated-hover;

  li {
    a {
      svg {
        margin-top: 0 !important;

        path,
        line {
          color: $theme-body-font-color !important;
        }
      }
    }
  }
}


/**======Main Header css Ends ======**/

/**=====================
    5.3 Header CSS Ends
==========================**/