/**=====================
    3.10 Dashboard_3 CSS Start
==========================**/
.welcome-card {
  background-image: url(../images/dashboard-3/bg.png);
  background-size: cover;
  h2 {
    letter-spacing: 0.3px;
  }
  .card-body {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .welcome-image {
    img {
      width: 40%;
      position: absolute;
      right: 4px;
      bottom: 0;
      animation: bounce-effect 5s infinite ease-in;
    }
  }
}
.project-widget  {
  .widget-middle-content {
    margin-top: 8px;
    h2 {
      font-size: 26px;
      margin-right: 10px;
    }
    .txt-warning {
      display: flex;
      align-items: center;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  .header-top {
    align-items: flex-start;
  }
  .earning-chart-container {
    margin: -30px -16px -30px -28px;
    padding-top: 10px;
  }
  .client-chart-container {
    overflow: hidden;
    margin: -42px 20px -30px 0px;
  }
  .widget-bottom-content {
    padding-top: 16px;
    .progress-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      ul {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
      li {
        width: 27px;
        height: 27px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        + li {
          margin-right: -4%;
          z-index: 0;
        }
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
.project-overview-wrapper {
  position: relative;
  z-index: 1;
  margin: -22px 0 -24px;
  .project-back-bar {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 23px;
    margin: 0 auto !important;
    left: 28px;
    z-index: -1;
  }

}
.calendar-wrapper {
  .calendar-date-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: -26px;
    li {
      padding: 0 9px;
      text-align: center;
      width: 100%;
      h4 {
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 26px;
      }
      &.today-date {
        h4 {
          color: $white;
          background: var(--theme-deafult);
          border-radius: 5px;
          box-shadow: 0px 22.3363px 17.869px rgba(0, 157, 181, 0.143066), 0px 12.5216px 10.0172px rgba(0, 157, 181, 0.12), 0px 6.6501px 5.32008px rgba(0, 157, 181, 0.0969343), 0px 2.76726px 2.21381px rgba(0, 157, 181, 0.0674749);
        }
      }
    }
  }
  .client-content {
    margin-bottom: -10px;
    padding-top: 15px;
    li {
      gap: 10px;
      align-items: center;
      img {
        min-width: 58px;
        height: 58px;
      }
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 17px 0;
      }
      + li {
        > div {
          border-top: 1px solid var(--light-border);
        }
      }
      .client-sub-content {
        display: flex;
        li {
          gap: 6px;
          padding: 0 8px;
          + li {
            border-left: 1px solid var(--light-border);
          }
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          svg {
            width: 18px;
            height: 18px;
            stroke: var(--body-light-font-color);
          }
        }
      }
      .btn-light {
        color: var(--body-light-font-color);
      }
    }
  }
}
// old css
@keyframes hand-move {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.course-widget {
  display: flex;
  gap: 8px;

  .course-icon {
    position: relative;
    width: 54px;
    height: 54px;
    clip-path: polygon(40% 7.67949%, 43.1596% 6.20615%, 46.52704% 5.30384%, 50% 5%, 53.47296% 5.30384%, 56.8404% 6.20615%, 60% 7.67949%, 81.65064% 20.17949%, 84.50639% 22.17911%, 86.97152% 24.64425%, 88.97114% 27.5%, 90.44449% 30.6596%, 91.34679% 34.02704%, 91.65064% 37.5%, 91.65064% 62.5%, 91.34679% 65.97296%, 90.44449% 69.3404%, 88.97114% 72.5%, 86.97152% 75.35575%, 84.50639% 77.82089%, 81.65064% 79.82051%, 60% 92.32051%, 56.8404% 93.79385%, 53.47296% 94.69616%, 50% 95%, 46.52704% 94.69616%, 43.1596% 93.79385%, 40% 92.32051%, 18.34936% 79.82051%, 15.49361% 77.82089%, 13.02848% 75.35575%, 11.02886% 72.5%, 9.55551% 69.3404%, 8.65321% 65.97296%, 8.34936% 62.5%, 8.34936% 37.5%, 8.65321% 34.02704%, 9.55551% 30.6596%, 11.02886% 27.5%, 13.02848% 24.64425%, 15.49361% 22.17911%, 18.34936% 20.17949%);
    background: linear-gradient(310.31deg, #FF3364 14.71%, #FF7F9E 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 26px;
      height: 26px;
      fill: $white;
    }

    &.warning {
      background: linear-gradient(297.08deg, #FF9E2A -4.53%, #FFA941 98.25%);
    }
  }

  .btn-light {
    background: var(--course-light-btn) !important;
    border: none;
  }

  a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-top: 25px;

    span {
      display: block;
      margin-bottom: -5px;
    }

    svg {
      width: 13px;
      height: 13px;
    }
  }
}

.progress-chart-wrap {
  margin: -40px 0 -22px;

  [dir="rtl"] & {
    direction: ltr;
  }

  @media (max-width: 991px) {
    margin-top: -18px;
  }

  .apexcharts-canvas {
    margin: 0 auto;

    .apexcharts-datalabels-group {
      .apexcharts-datalabel-label {
        fill: var(--chart-text-color);
      }
    }
  }
}

.learning-wrap {
  margin: -24px -10px -24px -15px;
}

.activity-wrap {
  margin: -22px 0 -22px -28px;

  [dir="rtl"] & {
    margin: -22px -28px -22px 0;
  }
}

.upcoming-event-wrap {
  margin-bottom: -39px;
  margin-left: -24px;
}

.course-card {
  .dropdown {
    .dropdown-toggle {
      width: 125px;
    }
  }
}

.course-wrapper {
  text-align: center;

  .course-icon-box {
    position: relative;
    padding: 8px;

    @media (max-width:767px) {
      padding: 0;
    }

    .icon-wrap {
      width: 117px;
      height: 92px;
      background-color: var(--course-bg);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      margin: 0 auto;
      box-shadow: -18px 15px 20px rgba(119, 119, 119, 0.25);

      @media (max-width: 1880px) {
        width: 112px;
      }

      @media (max-width:767px) {
        box-shadow: none;
      }

      @media (max-width:575px) {
        width: 92px;
        height: 82px;
      }

      img {
        width: 80px;

        @media (max-width:575px) {
          width: 70px;
        }
      }
    }

    .arrow-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 20px);
      height: 100%;

      [dir="rtl"] & {
        left: unset;
        right: 0;
        transform: scaleX(-1);
      }

      @media (max-width:767px) {
        display: none;
      }
    }
  }

  h6 {
    margin-top: 25px;
    margin-bottom: 0;

    @media (max-width: 575px) {
      margin-top: 15px;
    }
  }
}

.course-main-card {
  display: flex;
  gap: 20px;
  justify-content: center;

  @media (max-width: 1880px) {
    flex-wrap: wrap;
  }

  @media (max-width:767px) {
    gap: 12px;
    flex-wrap: nowrap;
  }

  @media (max-width: 575px) {
    gap: 20px;
    flex-wrap: wrap;
  }

  .course-wrapper {
    &:last-child {
      .arrow-bg {
        width: 100%;
      }
    }
  }
}

.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width:767px) {
    flex-direction: row;
  }

  @media (max-width:575px) {
    flex-direction: column;
  }

  li {
    display: flex;
    align-items: center;

    h6 {
      font-size: 14px;
    }

    ul {
      column-count: 2;
      column-rule-style: solid;
      column-rule-color: var(--chart-text-color);
      column-gap: 20px;
      column-rule-width: 1px;

      @media (max-width:1712px) {
        column-gap: 14px;
      }

      @media (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        gap: 6px;
      }
    }

    img {
      border-radius: 100%;
      width: 37px;
      height: 37px;
      padding: 3px;
    }

    svg {
      width: 15px;
      height: 15px;

      &.f-success {
        fill: $success-color;
      }
    }

  }

  >li {
    padding: 15px 20px;
    box-shadow: 4px 7px 17px 5px rgba(46, 35, 94, 0.05);
    gap: 10px;
    position: relative;
    border-radius: 10px;

    @media (max-width:1712px) {
      padding: 16px 14px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 15px 0 0 15px;

      [dir="rtl"] & {
        left: unset;
        right: 0;
        border-radius: 0 15px 15px 0;
      }
    }

    &.primary {
      &::before {
        background-color: var(--theme-deafult);
      }

      img {
        border: 1px solid var(--theme-deafult);
      }
    }

    &.warning {
      &::before {
        background-color: $warning-color;
      }

      img {
        border: 1px solid $warning-color;
      }
    }
  }
}

.link-only {
  display: flex;
  align-items: center;
  color: $theme-body-sub-title-color;

  svg {
    width: 16px;
    height: 16px;
  }
}

.lessons-lists {
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 0;

    img {
      transition: 0.5s;
    }

    +li {
      border-top: 1px solid var(--chart-dashed-border);
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:hover {
      img {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }
}

.lesson-wrap {
  width: 50px;
  margin-bottom: -11px;
  margin-top: -6px;

  .apexcharts-canvas {
    .apexcharts-datalabel-label {
      display: none;
    }
  }
}

// responsive


/**=====================
  3.10 Dashboard_3 CSS Ends
==========================**/