/**=====================
    3.10 Dashboard_3 CSS Start
==========================**/
.welcome-card {
  background-image: url(../images/dashboard-3/bg.png);
  background-size: cover;
  h2 {
    letter-spacing: 0.3px;
  }
  .card-body {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .welcome-image {
    img {
      width: 40%;
      position: absolute;
      right: 4px;
      bottom: 0;
      animation: bounce-effect 5s infinite ease-in;
    }
  }
}
.project-widget  {
  .widget-middle-content {
    margin-top: 8px;
    h2 {
      font-size: 26px;
      margin-right: 10px;
    }
    .txt-warning {
      display: flex;
      align-items: center;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  .header-top {
    align-items: flex-start;
  }
  .earning-chart-container {
    margin: -30px -16px -30px -28px;
    padding-top: 10px;
  }
  .client-chart-container {
    overflow: hidden;
    margin: -42px 20px -30px 0px;
  }
  .widget-bottom-content {
    padding-top: 16px;
    .progress-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      ul {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
      li {
        width: 27px;
        height: 27px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        + li {
          margin-right: -4%;
          z-index: 0;
        }
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
.project-overview-wrapper {
  position: relative;
  z-index: 1;
  margin: -22px 0 -24px;
  .project-back-bar {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 23px;
    margin: 0 auto !important;
    left: 28px;
    z-index: -1;
  }

}
.calendar-wrapper {
  .calendar-date-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: -26px;
    li {
      padding: 0 9px;
      text-align: center;
      width: 100%;
      h4 {
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 26px;
      }
      &.today-date {
        h4 {
          color: $white;
          background: var(--theme-deafult);
          border-radius: 5px;
          box-shadow: 0px 22.3363px 17.869px rgba(0, 157, 181, 0.143066), 0px 12.5216px 10.0172px rgba(0, 157, 181, 0.12), 0px 6.6501px 5.32008px rgba(0, 157, 181, 0.0969343), 0px 2.76726px 2.21381px rgba(0, 157, 181, 0.0674749);
        }
      }
    }
  }
  .client-content {
    margin-bottom: -10px;
    padding-top: 15px;
    li {
      gap: 10px;
      align-items: center;
      img {
        min-width: 58px;
        height: 58px;
      }
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 17px 0;
      }
      + li {
        > div {
          border-top: 1px solid var(--light-border);
        }
      }
      .client-sub-content {
        display: flex;
        li {
          gap: 6px;
          padding: 0 8px;
          + li {
            border-left: 1px solid var(--light-border);
          }
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          svg {
            width: 18px;
            height: 18px;
            stroke: var(--body-light-font-color);
          }
        }
      }
      .btn-light {
        color: var(--body-light-font-color);
      }
    }
  }
}
.project-datatable {
  .datatable-table {
    > thead {
      > tr {
         > th {
           &:last-child {
            width: 10% !important;
           }
         }
      }
    }
    > tbody {
      > tr {
        > td {
          vertical-align: middle;
          .d-flex {
            align-items: center;
          }
          .progress {
            min-width: 73px;
            margin-right: 12px;
          }
          .customers {
            .light-card {
              width: 30px;
              height: 30px;
              border-radius: 100%;
              background: var(--light2);
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
  .datatable-top {
    display: none;
  }
  .datatable-bottom {
    display: none;
  }
}
.card-body {
  .project-details {
    p {
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}
.project-details {
  p {
    margin-block: 20px;
  }
  .budget-details {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
    li {
      width: 100%;
      padding: 20px 10px;
      +li {
        border-left: 1px dashed var(--light-border);
      }
    }
  }
  .customers {
    ul {
      li {
        + li {
          margin-left: -10%;
        }
      }
    }
  }
  .d-flex {
    align-items: center;
  }
  .badge-light-primary {
    svg {
      stroke: $primary-color;
    }
  }
}
.recent-update {
  height: 280px;
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    height: 130px;
  }
  .arrow-group {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  .next, .prev {
    background-color: var(--light-background);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 18px;
      height: 18px;
      stroke: var(--body-light-font-color);
    }
    &.swiper-button-disabled {
      opacity: 0.5;
    }
  }
}
.recent-project-wrapper {
  display: flex;
  padding: 20px 10px;
  gap: 8px;
  .recent-content {
    flex: 1;
    > .d-flex {
      width: 100%;
      justify-content: space-between;
    }
  }
  .recent-icon {
    background: var(--recent-icon-box);
    border-radius: 10.9322px;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 25px;
      height: 25px;
    }
    &.primary {
      box-shadow: 0px 42.1092px 27.8569px rgba($primary-color, 0.0303704), 0px 5px 7.12618px rgba($primary-color, 0.1), 0px 2.02448px 3.44162px rgba($primary-color, 0.012037);
      svg {
        fill: var(--theme-deafult);
      }
    }
    &.success {
      box-shadow: 0px 42.1092px 27.8569px rgba($success-color, 0.0303704), 0px 5px 7.12618px rgba($success-color, 0.1), 0px 2.02448px 3.44162px rgba($success-color, 0.012037);
      svg {
        fill: $success-color;
      }
    }
    &.secondary {
      box-shadow: 0px 42.1092px 27.8569px rgba($secondary-color, 0.0303704), 0px 5px 7.12618px rgba($secondary-color, 0.1), 0px 2.02448px 3.44162px rgba($secondary-color, 0.012037);
      svg {
        fill: $secondary-color;
      }
    }
    &.warning {
      box-shadow: 0px 42.1092px 27.8569px rgba($warning-color, 0.0303704), 0px 5px 7.12618px rgba($warning-color, 0.1), 0px 2.02448px 3.44162px rgba($warning-color, 0.012037);
      svg {
        fill: $warning-color;
      }
    }
  }
  .recent-progress {
    padding-top: 16px;
    .progress {
      margin-top: 10px;
    }
  }
  .customers {
    text-align: right;
    .light-card {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
    }
    ul {
      li {
        + li {
          margin-left: -12%;
        }
      }
    }
  }
}
.earning-left-content {
  svg {
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }
}
.earning-right-content {
  li {
    display: flex;
    padding: 5px;
    span {
      &:first-child {
        width: 100%;
      }
    }
    + li {
      border-top: 1px dashed var(--light-border);
    }
  }
}
.earning-buttons {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  li {
    width: 100%;
    button {
      font-weight: 500;
      font-size: 12px;
      color: var(--body-light-font-color);
    }
  }
}
.daily-task {
  li {
    gap: 14px;
  }
  svg {
    fill: var(--body-light-font-color);
    width: 18px;
    height: 18px;
  }
  h6 {
    margin-bottom: 10px;
  }
  .task-content {
    flex: 1;
    border: 1px dashed var(--light-border);
    border-radius: 10px;
    padding: 12px;
    button {
      margin-left: auto;
    }
    .f-light {
      display: flex;
      align-items: center;
      span {
        margin-bottom: -2px;
      }
    }
  }
  div[class*="activity-dot-"] {
    margin-top: 0;
  }
}
// old css
.course-widget {
  display: flex;
  gap: 8px;

  .course-icon {
    position: relative;
    width: 54px;
    height: 54px;
    clip-path: polygon(40% 7.67949%, 43.1596% 6.20615%, 46.52704% 5.30384%, 50% 5%, 53.47296% 5.30384%, 56.8404% 6.20615%, 60% 7.67949%, 81.65064% 20.17949%, 84.50639% 22.17911%, 86.97152% 24.64425%, 88.97114% 27.5%, 90.44449% 30.6596%, 91.34679% 34.02704%, 91.65064% 37.5%, 91.65064% 62.5%, 91.34679% 65.97296%, 90.44449% 69.3404%, 88.97114% 72.5%, 86.97152% 75.35575%, 84.50639% 77.82089%, 81.65064% 79.82051%, 60% 92.32051%, 56.8404% 93.79385%, 53.47296% 94.69616%, 50% 95%, 46.52704% 94.69616%, 43.1596% 93.79385%, 40% 92.32051%, 18.34936% 79.82051%, 15.49361% 77.82089%, 13.02848% 75.35575%, 11.02886% 72.5%, 9.55551% 69.3404%, 8.65321% 65.97296%, 8.34936% 62.5%, 8.34936% 37.5%, 8.65321% 34.02704%, 9.55551% 30.6596%, 11.02886% 27.5%, 13.02848% 24.64425%, 15.49361% 22.17911%, 18.34936% 20.17949%);
    background: linear-gradient(310.31deg, #FF3364 14.71%, #FF7F9E 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 26px;
      height: 26px;
      fill: $white;
    }

    &.warning {
      background: linear-gradient(297.08deg, #FF9E2A -4.53%, #FFA941 98.25%);
    }
  }

  .btn-light {
    background: var(--course-light-btn) !important;
    border: none;
  }

  a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-top: 25px;

    span {
      display: block;
      margin-bottom: -5px;
    }

    svg {
      width: 13px;
      height: 13px;
    }
  }
}

.progress-chart-wrap {
  margin: -40px 0 -22px;

  [dir="rtl"] & {
    direction: ltr;
  }

  @media (max-width: 991px) {
    margin-top: -18px;
  }

  .apexcharts-canvas {
    margin: 0 auto;

    .apexcharts-datalabels-group {
      .apexcharts-datalabel-label {
        fill: var(--chart-text-color);
      }
    }
  }
}

.activity-wrap {
  margin: -22px 0 -22px -28px;

  [dir="rtl"] & {
    margin: -22px -28px -22px 0;
  }
}

// responsive


/**=====================
  3.10 Dashboard_3 CSS Ends
==========================**/