/**=====================
    3.9 Dashboard_2 CSS Start
==========================**/
.widget-decor {
  position: absolute;
  height: 60px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


.small-widget {
  overflow: hidden;

  h4 {
    margin-bottom: -3px;
  }

  i {
    font-weight: 700;
    font-size: 11px;
  }

  .card-body {
    padding: 24px 15px;
  }

  .bg-gradient {
    width: 66px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    right: -12px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);

    [dir="rtl"] & {
      right: unset;
      left: -12px;
      transform: translateY(-50%) scaleX(-1);
    }

    @media (max-width: 1399px) {
      width: 60px;
      height: 60px;
    }

    svg {
      width: 25px;
      height: 25px;

      @media (max-width: 1399px) {
        width: 22px;
        height: 22px;
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
    transition: 0.5s;

    .bg-gradient {
      svg {
        animation: tada 1.5s ease infinite;
      }
    }
  }
}

.appointment {
  .customer-table {
    @media (max-width:1470px) {
      height: 268px;
    }

    @media (max-width:1399px) {
      height: unset;
    }
  }
}




.overview-wrapper {
  position: relative;
  z-index: 1;
}

.back-bar-container {
  position: absolute;
  width: calc(100% - 64px);
  bottom: -8px;
  margin: 0 auto !important;
  left: 28px;

  @media (max-width: 1199px) {
    bottom: 22px;
  }

  @media (max-width: 480px) {
    width: calc(100% - 34px);
    left: 18px;
  }

  @media (max-width: 327px) {
    bottom: 42px;
  }
}

.order-container {
  .apexcharts-canvas {
    .apexcharts-marker {
      stroke-width: 4;
    }
  }
}

.visitor-card {
  .card-header {
    svg {
      width: 18px;
      height: 18px;
      fill: var(--theme-deafult);
    }
  }
}

.recent-order {
  .nav {
    gap: 8px;
    flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 5px;
    display: flex;
  }

  .frame-box {
    border: 1px solid transparent;
    padding: 0;
    transition: 0.5s;

    &.active {
      border: 1px solid var(--theme-deafult);
    }

    &:hover {
      transform: translateY(-5px);
      transition: 0.5s;
    }
  }

  .tab-content {
    margin-top: 16px;
  }
}

.recent-table {
  table {
    thead {
      background: var(--light2);

      th {
        padding-top: 9px;
        padding-bottom: 9px;
        border-bottom: none;
      }
    }

    tr {

      td,
      th {
        padding: 12px 8px;
        vertical-align: middle;

        &:first-child {
          min-width: 157px;
        }

        &:nth-child(2) {
          @media (max-width: 1660px) {
            min-width: 97px;
          }
        }

        &:last-child {
          min-width: 96px;
        }
      }

      td {
        &:first-child {
          padding-left: 0;

          [dir="rtl"] & {
            padding-left: unset;
            padding-right: 0;
          }
        }

        &:last-child {
          padding-right: 0;

          [dir="rtl"] & {
            padding-left: 0;
            padding-right: unset;
          }
        }
      }

      &:last-child {
        td {
          padding-bottom: 0;
          border-bottom: none;
        }
      }

      .product-content {
        h6 {
          a {
            color: var(--body-font-color);
            transition: 0.5s;
          }
        }
      }

      &:hover {
        .product-content {
          h6 {
            a {
              color: var(--theme-deafult);
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  .product-content {
    display: flex;
    align-items: center;
    gap: 8px;

    .order-image {
      background: var(--light2);
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }




}

.recent-activity {
  h5 {
    padding: 30px 0 20px;
    margin-bottom: 0;
  }

  h6 {
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
  }

  ul {
    li {
      span {
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
      }
    }
  }
}

.notification {
  li {
    .recent-images {
      ul {
        &::before {
          display: none;
        }
      }

      li {
        padding-bottom: 3px;
      }
    }
  }
}

.recent-images {
  margin-top: 10px;

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  li {
    border: 1px dashed var(--recent-dashed-border);
    padding: 3px;
    border-radius: 2px;

    .recent-img-wrap {
      width: 40px;
      height: 40px;
      background: var(--light2);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.frame-box {
  background: var(--recent-box-bg);
  border-radius: 10px;
  min-width: 76px;
  box-shadow: 2px 2px 2px var(--recent-border);

  @media (max-width: 575px) {
    min-width: 65px;
  }

  .frame-image {
    min-width: 62px;
    height: 62px;
    border-color: var(--recent-border) var(--white) var(--white) var(--recent-border);
    border-width: 1px;
    border-style: solid;
    margin: 6px;
    display: flex;
    align-items: center;
    border-radius: 4px;

    @media (max-width: 575px) {
      min-width: 50px;
      height: 50px;
      margin: 4px;
    }
  }

  img {
    margin: 0 auto;

    @media (max-width: 575px) {
      height: 30px;
    }
  }
}

.support-ticket-font {
  ul {
    font-size: 12px;
  }
}

.new-update {
  .media {
    .media-body {

      span,
      p {
        font-weight: 500;
      }
    }
  }
}

@each $activity-dot-name,
$activity-dot-color in (primary, $primary-color),
(secondary, $secondary-color),
(success, $success-color),
(danger, $danger-color),
(info, $info-color),
(light, $light-color),
(dark, $dark-color),
(warning, $warning-color) {
  .activity-dot-#{$activity-dot-name} {
    min-width: 8px;
    height: 8px;
    width: 8px;
    background-color: $activity-dot-color;
    border-radius: 100%;
    outline: 3px solid rgba($activity-dot-color, 0.25);
    position: relative;
    z-index: 2;

    &::after {
      position: absolute;
      content: '';
      width: 13px;
      height: 1px;
      background-color: $activity-dot-color;
      top: 50%;
      right: -14px;

      [dir="rtl"] & {
        right: unset;
        left: -14px;
      }
    }
  }

  // timeline
  .timeline-dot-#{$activity-dot-name} {
    min-width: 12px;
    height: 12px;
    background-color: $activity-dot-color;
    outline: 5px solid rgba($activity-dot-color, 0.25);
    position: relative;
    z-index: 2;
  }

}

// responsive
@media only screen and (max-width: 1800px) and (min-width: 1400px) {
  .grid-ed-none {
    display: none !important;
  }

  .grid-ed-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 1660px) and (min-width: 1400px) {
  .col-ed-12 {
    width: 100%;
  }

  .col-ed-7 {
    width: 58%;
  }

  .col-ed-5 {
    width: 42%;
  }

  .col-ed-9 {
    width: 75%;
  }

  .col-ed-3 {
    width: 25%;
  }

  .col-ed-6 {
    width: 50%;
  }

  .col-ed-4 {
    width: 33.33333333%;
  }

  .col-ed-8 {
    width: 66.66%;
  }

  .col-ed-none {
    display: none !important;
  }
}

@media only screen and (max-width: 1660px) and (min-width: 1200px) {
  .xl-30 {
    max-width: 30%;
    flex: 0 0 30%;
  }

  .xl-70 {
    max-width: 70%;
    flex: 0 0 70%;
  }
}



// dashboard-2

.sales-bg {
  background-image: url(../images/dashboard-2/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.question-icon {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: var(--white);
  text-align: center;
  margin-left: auto;

  svg {
    width: 10px;
    height: 10px;
  }
}

.sales-overview {
  position: relative;
  z-index: 0;
  height: 96px;

  &::after {
    content: '';
    background-image: url(../images/dashboard-2/bg-shape.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    // padding: 10px;
    position: absolute;
    z-index: -1;
    bottom: 11px;
    width: 100%;
    height: 100%;


  }

  .widget-1 {
    gap: 18px;
  }

  .rounded-circle1 {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: var(--white);
  }

  .rounded-circle2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -5px 0px 0px rgba($warning-color, 0.12);


    // &::after {
    //   content: '';
    //   box-shadow: inset 0px -5px 0px 0px rgba($warning-color, 0.12);
    // }

    &.warning {
      box-shadow: 0px 29.012067794799805px 23.20965576171875px 0px rgba($warning-color, 0.12);
      border: 1px solid $warning-color;

    }

    &.success {
      box-shadow: 0px 29.012067794799805px 23.20965576171875px 0px rgba($success-color, 0.12);
      border: 1px solid $success-color;
    }

    &.primary {
      box-shadow: 0px 29.012067794799805px 23.20965576171875px 0px rgba($primary-color, 0.12);
      border: 1px solid $primary-color;

    }

    &.secondary {
      box-shadow: 0px 29.012067794799805px 23.20965576171875px 0px rgba($secondary-color, 0.12);
      border: 1px solid $secondary-color;
    }

    &.info {
      box-shadow: 0px 29.012067794799805px 23.20965576171875px 0px rgba($info-color, 0.12);
      border: 1px solid $info-color;
    }

    svg {
      width: 20px;
      height: 20px;
    }

  }

  .sale-content {
    display: flex;
    justify-content: space-between;
    align-items: center;


    // &:nth-child(4) {
    //   svg {
    //     transform: scaleY(-1);
    //   }
    // }

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

// .square-legend {
//   display: flex;


//   >div {
//     width: 12px;
//     height: 12px;
//     border-radius: 2px;
//   }
// }

.store-card {
  img {
    height: 172px;
  }

  span {
    margin-bottom: 11px;
  }
}

.order-card {
  .delivery-image {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0px 6px 4px 0px rgba(0, 157, 181, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 31px;
    }
  }
}

.order-content {
  display: flex;
  align-items: center;
  gap: 6px;

  svg {
    height: 14px;
    width: 14px;
    margin-right: 4px;
  }
}

.customer-profile {
  margin-top: 38px;

  >span {
    padding-bottom: 13px;
  }

  ul {
    li {
      img {
        border: 2px solid var(--white);
        transition: 0.5s;

        &:hover {
          transition: 0.5s;
          transform: translateY(-4px) scale(1.02);
        }
      }

      +li {
        margin-left: -6%;
      }

      .profile-letter {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;

        &.bg-warning {
          border: 2px solid rgba($warning-color, 0.61);
          transition: 0.5s;

          &:hover {
            transition: 0.5s;
            transform: translateY(-4px) scale(1.02);
          }
        }

        &.light-card {
          transition: 0.5s;

          &:hover {
            transition: 0.5s;
            transform: translateY(-4px) scale(1.02);
          }
        }
      }
    }
  }
}




/**=====================
    3.9 Dashboard_2 CSS End
==========================**/