- var theme_customizer      = true;
- var sidebar               = true;
- var dashboard_2           = true;
- var animate               = true;
- var datatable_2           = true;
- var scrollbar             = true;
- var swiper                = true;
- var apex                  = true;
- var counter               = true;

//- Breadcrumbs
-var pageTitle="E-commerce"; 
-var breadcrumb=['Dashboard','E-commerce'];

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-xxl-9
                .row 
                  .col-xl-12
                    .card.title-line
                      .card-header.card-no-border.sales-bg
                        .header-top
                          div 
                            h2 Sales Overview 
                          .card-header-right-icon
                            .dropdown.icon-dropdown
                              button#daily-task.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#more-horizontal')
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='daily-task')
                                a.dropdown-item(href='#') Today
                                a.dropdown-item(href='#') Tomorrow
                                a.dropdown-item(href='#') Yesterday
                      .card-body
                        .row.row-cols-5.gx-3
                          .col
                            div.sales-overview
                              .question-icon
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#question-mark')
                                .rounded-circle-1
                              .widget-1
                                .rounded-circle2.warning
                                  .sales-icon
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#sales')
                                div 
                                  h3.f-w-600 24k USD
                                  .sale-content
                                    span.f-w-500.f-light.f-12 Total Sales
                                    .d-flex.align-items-center.gap-1
                                      i.stroke-warning(data-feather="trending-up")
                                      span.txt-warning.f-w-600.f-12 +34%
                          .col
                            div.sales-overview
                              .question-icon
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#question-mark')
                                .rounded-circle-1
                              .widget-1
                                .rounded-circle2.success
                                  .sales-icon
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#customer')
                                div 
                                  h3.f-w-600 9.453k 
                                  .sale-content
                                    span.f-w-500.f-light.f-12 Customer
                                    .d-flex.align-items-center.gap-1
                                      i.stroke-success(data-feather="trending-up")
                                      span.txt-success.f-w-600.f-12 +27%
                          .col
                            div.sales-overview
                              .question-icon
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#question-mark')
                                .rounded-circle-1
                              .widget-1
                                .rounded-circle2.primary
                                  .sales-icon
                                    svg.fill-primary
                                      use(href='../assets/svg/icon-sprite.svg#orders')
                                div 
                                  h3.f-w-600 1.786k 
                                  .sale-content
                                    span.f-w-500.f-light.f-12 Orders
                                    .d-flex.align-items-center.gap-1
                                      i.stroke-primary(data-feather="trending-up")
                                      span.txt-primary.f-w-600.f-12 +45%
                          .col
                            div.sales-overview
                              .question-icon
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#question-mark')
                                .rounded-circle-1
                              .widget-1
                                .rounded-circle2.secondary
                                  .sales-icon
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#transaction')
                                div 
                                  h3.f-w-600 24k USD
                                  .sale-content
                                    span.f-w-500.f-light.f-12 Transaction
                                    .d-flex.align-items-center.gap-1
                                      i.stroke-secondary.reverse-icon(data-feather="trending-up")
                                      span.txt-secondary.f-w-600.f-12 +27%
                          .col
                            div.sales-overview
                              .question-icon
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#question-mark')
                                .rounded-circle-1
                              .widget-1
                                .rounded-circle2.info
                                  .sales-icon
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#dollar-sign')
                                div
                                  h3.f-w-600 12k USD
                                  .sale-content
                                    span.f-w-500.f-light.f-12 Revenue
                                    .d-flex.align-items-center.gap-1
                                      i.stroke-info(data-feather="trending-up")
                                      span.txt-info.f-w-600.f-12 +29%
                  .col-3
                    .card.store-card
                      .card-header.card-no-border
                        h3.f-w-600 We are working to boost lovely mood
                        span.f-light.f-w-500.mt-2 Projects this month
                        a.btn.btn-primary.btn-hover-effect(href="#!") Create a Store
                      .card-body.pb-1.text-center
                        img.img-fluid(src="../assets/images/dashboard-2/vector.png", alt="store")
                  .col-9
                    .card
                      .card-header.card-no-border
                        .header-top
                          h2 Revenue vs Order
                          .card-header-right-icon.square-legend
                            div
                              .legend-box
                                div.bg-primary
                                span.f-light.f-12.f-w-500 Revenue
                              .legend-box
                                div.bg-success
                                span.f-light.f-12.f-w-500 Order
                            .dropdown
                              button#overviewButton.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                | Monthly
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='overviewButton')
                                a.dropdown-item(href='#') Monthly
                                a.dropdown-item(href='#') weekly
                                a.dropdown-item(href='#') yearly
                      .card-body 
                        #revenue-order

                  .col-3 
                    .row 
                      .col-12 
                        .card.widget-hover 
                          .card-body.common-space.order-card 
                            div 
                              span.f-w-500.f-light Today Orders
                              h2 120k Orders
                              .order-content
                                span.f-light.f-12.f-w-500 Last week 
                                div
                                  span.txt-danger.f-12.f-w-600
                                    i.stroke-danger.reverse-icon(data-feather="trending-up")
                                    | -10%
                            .delivery-image
                              img.img-fluid(src="../assets/images/dashboard-2/orders/1.png", alt="order")
                      .col-12 
                        .card.widget-hover 
                          .card-body.common-space.order-card 
                            div 
                              span.f-w-500.f-light Delivery Successful
                              h2 390k
                              .order-content
                                span.f-light.f-12.f-w-500 Last week 
                                div
                                  span.txt-success.f-12.f-w-600
                                    i.stroke-success(data-feather="trending-up")
                                    | -27%
                            .delivery-image
                              img.img-fluid(src="../assets/images/dashboard-2/orders/2.png", alt="order")
                      .col-12 
                        .card.widget-hover 
                          .card-body.order-card 
                            div 
                              span.f-w-500.f-light New Customers this month
                              h2 10,987
                              .order-content
                                span.f-light.f-12.f-w-500 Last week 
                                div
                                  span.txt-danger.f-12.f-w-600
                                    i.stroke-success.reverse-icon(data-feather="trending-up")
                                    | -10%
                            .customer-profile
                              span.f-w-500 Today's Heroes
                              ul.d-inline-block
                                li.d-inline-block
                                  .profile-letter.bg-warning
                                    span.f-w-600.txt-white.f-12 A
                                li.d-inline-block
                                  img.img-fluid.img-30.rounded-circle(src="../assets/images/dashboard/user/2.jpg", alt="user") 
                                li.d-inline-block
                                  img.img-fluid.img-30.rounded-circle(src="../assets/images/dashboard/user/3.jpg", alt="user") 
                                li.d-inline-block
                                  .profile-letter.bg-success
                                    span.f-w-600.txt-white.f-12 R
                                li.d-inline-block
                                  img.img-fluid.img-30.rounded-circle(src="../assets/images/dashboard/user/6.jpg", alt="user") 
                                li.d-inline-block
                                  .light-card.profile-letter
                                    span.f-w-600.f-light.f-12 +8
                  .col-9  
                    .card.height-equal.title-line
                      .card-header.card-no-border
                        .header-top
                          h2 Recent Orders
                          .card-header-right-icon.recent-order-header
                            .dropdown
                              button#orderButtons.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                | Generate Report
                              .dropdown-menu.dropdown-menu-start(aria-labelledby='orderButtons')
                                a.dropdown-item(href='#') Web designer
                                a.dropdown-item(href='#') Development
                                a.dropdown-item(href='#') Marketing
                      .card-body.project-datatable.p-0 
                        table#order-status.table
                          thead 
                            tr 
                              th 
                                span.f-light.f-w-600 Order ID
                              th 
                                span.f-light.f-w-600 Customer
                              th 
                                span.f-light.f-w-600 Product
                              th 
                                span.f-light.f-w-600 Amount
                              th 
                                span.f-light.f-w-600 Vendor
                              th 
                                span.f-light.f-w-600 Status
                              th 
                                span.f-light.f-w-600 Rating
                          tbody 
                            tr 
                              td 
                                a(href="#!").f-w-500 #0918765
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/dashboard/user/1.jpg", alt="user")
                                  span.f-light.f-w-500 Alex Smith
                                 
                              td  
                                span.f-light Jacket
                              td  
                                span.txt-success.f-w-500 $109.00          
                              td 
                                span.f-light Zoshmetic Fashion
                              td
                                span.badge.badge-light-primary In Progress      
                              td
                                span.f-light.f-w-600 4.9 
                                  span.f-12.f-w-400 (34 votes)
                            tr 
                              td 
                                 a(href="#!").f-w-500 #109346
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/dashboard-3/user/4.png", alt="user")
                                  span.f-light.f-w-500 Jansh Brown
                              td  
                                span.f-light Clothes
                              td  
                                span.txt-success.f-w-500 $178.00     
                              td 
                                span.f-light iTech Factory
                              td
                                span.badge.badge-light-warning Pending
                              td
                                span.f-light.f-w-600 5.0  
                                  span.f-12.f-w-400 (90 votes)
                            tr 
                              td 
                                 a(href="#!").f-w-500 #209813
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/dashboard-3/user/7.png", alt="user")
                                  span.f-light.f-w-500 Prezy Mark
                              td  
                                span.f-light Wallets & Bag
                              td  
                                span.txt-success.f-w-500 $210.00        
                              td 
                                span.f-light Micro Design
                              td
                                span.badge.badge-light-success Paid
                              td
                                span.f-light.f-w-600 4.5 
                                  span.f-12.f-w-400 (43 votes)
                            tr 
                              td 
                                 a(href="#!").f-w-500 #306754
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/dashboard/user/2.jpg", alt="user")
                                  span.f-light.f-w-500 Vihan Hudda
                              td  
                                span.f-light Furniture
                              td  
                                span.txt-success.f-w-500 $330.00
                              td 
                                span.f-light Nesta Technology
                              td
                                span.badge.badge-light-warning Pending
                              td
                                span.f-light.f-w-600 4.6
                                  span.f-12.f-w-400 (30 votes)
                            tr 
                              td 
                                 a(href="#!").f-w-500 #509823
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/dashboard/user/4.jpg", alt="user")
                                  span.f-light.f-w-500 Prite Jasion
                              td  
                                span.f-light Bike Accessories
                              td  
                                span.txt-success.f-w-500 $401.00      
                              td 
                                span.f-light Bike Accessories
                              td
                                span.badge.badge-light-warning Pending
                              td
                                span.f-light.f-w-600 4.8
                                  span.f-12.f-w-400 (70 votes)
                            tr 
                              td 
                                 a(href="#!").f-w-500 #107654
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/avtar/7.jpg", alt="user")
                                  span.f-light.f-w-500 Biraj Shah
                              td  
                                span.f-light Kitchen Storage
                              td  
                                span.txt-success.f-w-500 $187.00
                              td 
                                span.f-light Syntcy solutions
                              td
                                span.badge.badge-light-primary In Progress
                              td
                                span.f-light.f-w-600 4.3
                                  span.f-12.f-w-400 (87 votes)
                  .col-6
                    .card.height-equal.title-line
                      .card-header.card-no-border
                        .header-top
                          h2 Stock Report
                          .card-header-right-icon.recent-order-header
                            .dropdown
                              button#orderButtons.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                | Generate Report
                              .dropdown-menu.dropdown-menu-start(aria-labelledby='orderButtons')
                                a.dropdown-item(href='#') Web designer
                                a.dropdown-item(href='#') Development
                                a.dropdown-item(href='#') Marketing
                      .card-body.project-datatable.p-0 
                        table#order-status.table
                          thead 
                            tr 
                              th 
                                span.f-light.f-w-600 Order ID
                              th 
                                span.f-light.f-w-600 Customer
                              th 
                                span.f-light.f-w-600 Product
                              th 
                                span.f-light.f-w-600 Amount
                              th 
                                span.f-light.f-w-600 Vendor
                              th 
                                span.f-light.f-w-600 Status
                              th 
                                span.f-light.f-w-600 Rating
                          tbody 
                            tr 
                              td 
                                a(href="#!").f-w-500 #0918765
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/dashboard/user/1.jpg", alt="user")
                                  span.f-light.f-w-500 Alex Smith
                                 
                              td  
                                span.f-light Jacket
                              td  
                                span.txt-success.f-w-500 $109.00          
                              td 
                                span.f-light Zoshmetic Fashion
                              td
                                span.badge.badge-light-primary In Progress      
                              td
                                span.f-light.f-w-600 4.9 
                                  span.f-12.f-w-400 (34 votes)
                            tr 
                              td 
                                 a(href="#!").f-w-500 #109346
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/dashboard-3/user/4.png", alt="user")
                                  span.f-light.f-w-500 Jansh Brown
                              td  
                                span.f-light Clothes
                              td  
                                span.txt-success.f-w-500 $178.00     
                              td 
                                span.f-light iTech Factory
                              td
                                span.badge.badge-light-warning Pending
                              td
                                span.f-light.f-w-600 5.0  
                                  span.f-12.f-w-400 (90 votes)
                            tr 
                              td 
                                 a(href="#!").f-w-500 #209813
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/dashboard-3/user/7.png", alt="user")
                                  span.f-light.f-w-500 Prezy Mark
                              td  
                                span.f-light Wallets & Bag
                              td  
                                span.txt-success.f-w-500 $210.00        
                              td 
                                span.f-light Micro Design
                              td
                                span.badge.badge-light-success Paid
                              td
                                span.f-light.f-w-600 4.5 
                                  span.f-12.f-w-400 (43 votes)
                            tr 
                              td 
                                 a(href="#!").f-w-500 #306754
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/dashboard/user/2.jpg", alt="user")
                                  span.f-light.f-w-500 Vihan Hudda
                              td  
                                span.f-light Furniture
                              td  
                                span.txt-success.f-w-500 $330.00
                              td 
                                span.f-light Nesta Technology
                              td
                                span.badge.badge-light-warning Pending
                              td
                                span.f-light.f-w-600 4.6
                                  span.f-12.f-w-400 (30 votes)
                            tr 
                              td 
                                 a(href="#!").f-w-500 #509823
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/dashboard/user/4.jpg", alt="user")
                                  span.f-light.f-w-500 Prite Jasion
                              td  
                                span.f-light Bike Accessories
                              td  
                                span.txt-success.f-w-500 $401.00      
                              td 
                                span.f-light Bike Accessories
                              td
                                span.badge.badge-light-warning Pending
                              td
                                span.f-light.f-w-600 4.8
                                  span.f-12.f-w-400 (70 votes)
                            tr 
                              td 
                                 a(href="#!").f-w-500 #107654
                              td
                                .recent-profile
                                  img.img-30.rounded-circle.img-fluid(src="../assets/images/avtar/7.jpg", alt="user")
                                  span.f-light.f-w-500 Biraj Shah
                              td  
                                span.f-light Kitchen Storage
                              td  
                                span.txt-success.f-w-500 $187.00
                              td 
                                span.f-light Syntcy solutions
                              td
                                span.badge.badge-light-primary In Progress
                              td
                                span.f-light.f-w-600 4.3
                                  span.f-12.f-w-400 (87 votes)    
                          


              .col-xxl-3
                .card.title-line.deal-card
                  .card-body
                    .row 
                      .col-8 
                        h2 Deal of the day
                        span.f-light.f-12.f-w-500 Special Discount 
                          span.txt-primary.f-12.f-w-500 60% OFF
                        ul.deal-timer
                          li 
                          li 
                          li 
                      
                      .col-4
                        .deal-slider
                          .swiper.deal-swiper 
                            .swiper-wrapper 
                              .swiper-slide 
                                img.img-fluid(src="../assets/images/dashboard-8/product-categories/phone.png", alt="phone")
                              .swiper-slide 
                                img.img-fluid(src="../assets/images/dashboard-2/headphone.png", alt="headphone")
                              .swiper-slide 
                                img.img-fluid(src="../assets/images/dashboard-8/product-categories/phone.png", alt="phone")




                   
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files