//- - var apex                  = true;
- var theme_customizer      = true;
- var dashboard_2           = true;
- var animate               = true;
- var swiper                = true;
- var counter               = true;
- var sidebar               = true;
- var scrollbar             = true;

//- Breadcrumbs
-var pageTitle="E-commerce"; 
-var breadcrumb=['Dashboard','E-commerce'];

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-xxl-9
                .row 
                  .col-xl-12
                    .card.title-line
                      .card-header.card-no-border.sales-bg
                        .header-top
                          div 
                            h2 Daily Task
                          .card-header-right-icon
                            .dropdown.icon-dropdown
                              button#daily-task.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#more-horizontal')
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='daily-task')
                                a.dropdown-item(href='#') Today
                                a.dropdown-item(href='#') Tomorrow
                                a.dropdown-item(href='#') Yesterday
                      .card-body
                        .row.row-cols-5 
                          .col
                            div.sales-overview
                              .question-icon
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#question-mark')
                                .rounded-circle-1
                              .widget-1
                                .rounded-circle2.warning
                                  .sales-icon.warning   
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#sales')
                                div 
                                  h3 24k USD
                                  .sale-content
                                    span.f-w-500.f-light.f-12 Total Sales
                                    div
                                      i.me-1(data-feather="trending-up")
                                      span.txt-warning +34%
                          .col
                            div.sales-overview
                              .question-icon
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#question-mark')
                                .rounded-circle-1
                              .widget-1
                                .rounded-circle2.success
                                  .sales-icon.warning   
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#customer')
                                div 
                                  h3 9.453k 
                                  .sale-content
                                    span.f-w-500.f-light.f-12 Customer
                                    div
                                      i.me-1(data-feather="trending-up")
                                      span.txt-warning +27%
                          .col
                            div.sales-overview
                              .question-icon
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#question-mark')
                                .rounded-circle-1
                              .widget-1
                                .rounded-circle2.primary
                                  .sales-icon.warning   
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#sales')
                                div 
                                  h3 1.786k 
                                  .sale-content
                                    span.f-w-500.f-light.f-12 Orders
                                    div
                                      i.me-1(data-feather="trending-up")
                                      span.txt-warning +45%
                          .col
                            div.sales-overview
                              .question-icon
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#question-mark')
                                .rounded-circle-1
                              .widget-1
                                .rounded-circle2.danger
                                  .sales-icon.warning   
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#sales')
                                div 
                                  h3 24k USD
                                  .sale-content
                                    span.f-w-500.f-light.f-12 Transaction
                                    div
                                      i.me-1(data-feather="trending-up")
                                      span.txt-warning +27%
                          .col
                            div.sales-overview
                              .question-icon
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#question-mark')
                                .rounded-circle-1
                              .widget-1
                                .rounded-circle2.info
                                  .sales-icon.warning   
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#sales')
                                div 
                                  h3 12k USD
                                  .sale-content
                                    span.f-w-500.f-light.f-12 Revenue
                                    div
                                      i.me-1(data-feather="trending-up")
                                      span.txt-warning +29%









              .col-xxl-3


                   
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files