- var theme_customizer      = true;
- var sidebar               = true;
- var apexmoment            = true;
- var datatable_2           = true;
- var animate               = true;
- var scrollbar             = true;
- var apex                  = true;
- var dashboard_3           = true;
- var date_picker           = true;

//- Breadcrumbs
-var pageTitle="Project"; 
-var breadcrumb=['Dashboard','Project'];

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-xl-3
                .card.welcome-card 
                  .card-body 
                    h4.f-light.f-w-500.mb-1 Have you tried
                    h2.mb-3 Upgrade Your Plan
                    button.btn.btn-primary(type="button") Upgrade Plan
                  .welcome-image 
                    img.img-fluid(src="../assets/images/dashboard-3/1.png", alt="upgrade")
              .col-xl-9 
                .row 
                  .col-lg-4
                    .card.project-widget 
                      .card-header.card-no-border.pb-0 
                        .header-top
                          div 
                            h3.f-w-600 Active Projects
                            span.f-12.f-light.f-w-500 Projects this month
                          .card-header-right-icon
                            .dropdown.icon-dropdown
                              button#active-project.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#more-horizontal')
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='active-project')
                                a.dropdown-item(href='#') Today
                                a.dropdown-item(href='#') Tomorrow
                                a.dropdown-item(href='#') Yesterday
                        .widget-middle-content
                          .d-flex.align-items-center 
                            h2 106
                            span.f-w-500.txt-warning.f-12 
                              i.me-1(data-feather="trending-up")
                              span +50%
                      .card-body.widget-bottom-content
                        .progress-details
                          ul 
                            li.bg-secondary
                              svg
                                use(href='../assets/svg/icon-sprite.svg#car-white')
                            li.bg-success 
                              svg
                                use(href='../assets/svg/icon-sprite.svg#game')
                            li.bg-primary
                              svg
                                use(href='../assets/svg/icon-sprite.svg#home-white')
                          h6.txt-success.f-w-600 56%
                        .progress(style='height: 5px;')
                          .progress-bar.bg-success(role='progressbar', style='width: 56%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                  .col-lg-4 
                    .card.project-widget 
                      .card-header.card-no-border.pb-0 
                        .header-top
                          div 
                            h3.f-w-600 Projects Earnings
                            span.f-12.f-light.f-w-500 From last Week
                          .card-header-right-icon
                            .dropdown.icon-dropdown
                              button#earning-project.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#more-horizontal')
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='earning-project')
                                a.dropdown-item(href='#') Today
                                a.dropdown-item(href='#') Tomorrow
                                a.dropdown-item(href='#') Yesterday
                        .widget-middle-content
                          .d-flex.align-items-center 
                            h2 $202
                            span.f-w-500.txt-warning.f-12 
                              i.me-1(data-feather="trending-up")
                              span +60%
                      .card-body.pt-0
                        .earning-chart-container.tooltip-small
                          #earnings-chart
                  .col-lg-4
                    .card.project-widget.overflow-hidden 
                      .card-header.card-no-border.pb-0 
                        .header-top
                          div 
                            h3.f-w-600 Total Clients
                            span.f-12.f-light.f-w-500 Compare to last month
                          .card-header-right-icon
                            .dropdown.icon-dropdown
                              button#client-project.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#more-horizontal')
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='client-project')
                                a.dropdown-item(href='#') Today
                                a.dropdown-item(href='#') Tomorrow
                                a.dropdown-item(href='#') Yesterday
                        .widget-middle-content
                          .d-flex.align-items-center 
                            h2 930
                            span.f-w-500.txt-warning.f-12 
                              i.me-1(data-feather="trending-up")
                              span +20%
                      .card-body.p-0
                        .client-chart-container.tooltip-small
                          #total-client 
              .col-xl-7 
                .card.height-equal.title-line
                  .card-header.card-no-border
                    .header-top
                      h2 Projects Overview
                      .card-header-right-icon
                        .dropdown
                          button#overviewButton.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                            | Monthly
                          .dropdown-menu.dropdown-menu-end(aria-labelledby='overviewButton')
                            a.dropdown-item(href='#') Monthly
                            a.dropdown-item(href='#') weekly
                            a.dropdown-item(href='#') yearly
                  .card-body.pt-0 
                    .project-overview-wrapper
                      #project-overview
                      .project-back-bar
                        #project-bar
              .col-xl-5 
                .card.height-equal.title-line
                  .card-header.card-no-border
                    .header-top
                      h2 Calendar
                      .card-header-right-icon
                        a.link-with-icon(href="#")
                          | Report
                          svg
                            use(href='../assets/svg/icon-sprite.svg#arrow-two-tone')
                  .card-body.pt-0 
                    .calendar-wrapper
                      ul.calendar-date-list 
                        li 
                          span.f-12.f-light Mon
                          h4.f-w-500 14
                        li 
                          span.f-12.f-light Tue
                          h4.f-w-500 15
                        li 
                          span.f-12.f-light Wed
                          h4.f-w-500 16
                        li 
                          span.f-12.f-light Thu
                          h4.f-w-500 17
                        li 
                          span.f-12.f-light Fri
                          h4.f-w-500 18
                        li.today-date 
                          span.f-12.f-light Sat
                          h4.f-w-500 19
                        li 
                          span.f-12.f-light Sun
                          h4.f-w-500 20
                        li 
                          span.f-12.f-light Mon
                          h4.f-w-500 21
                        li 
                          span.f-12.f-light Tue
                          h4.f-w-500 22
                        li 
                          span.f-12.f-light Wed
                          h4.f-w-500 23
                        li 
                          span.f-12.f-light Thu
                          h4.f-w-500 24
                      ul.client-content
                        li.d-flex 
                          img(src="../assets/images/dashboard-3/client/1.png", alt="client")
                          div 
                            .flex-grow-1 
                              h4.mb-1 Meeting with Client
                              ul.client-sub-content
                                li.d-flex 
                                  svg
                                    use(href='../assets/svg/icon-sprite.svg#video')
                                  span.f-12.f-light.f-w-500 Zoom Meeting
                                li.d-flex 
                                  svg
                                    use(href='../assets/svg/icon-sprite.svg#dashboard-clock')
                                  span.f-12.f-light.f-w-500 09 am
                                li.d-flex.f-12.f-light.f-w-500 Lead by 
                                  span.txt-warning Jaskion Raio
                            a(href="#").btn.btn-light.f-12.f-w-500 View
                        li.d-flex 
                          img(src="../assets/images/dashboard-3/client/2.png", alt="client")
                          div 
                            .flex-grow-1 
                              h4.mb-1 Deal with New Client
                              ul.client-sub-content
                                li.d-flex 
                                  svg
                                    use(href='../assets/svg/icon-sprite.svg#video')
                                  span.f-12.f-light.f-w-500 Zoom Meeting
                                li.d-flex 
                                  svg
                                    use(href='../assets/svg/icon-sprite.svg#dashboard-clock')
                                  span.f-12.f-light.f-w-500 09 am
                                li.d-flex.f-12.f-light.f-w-500 Lead by 
                                  span.txt-warning Ashkista Jashion
                            a(href="#").btn.btn-light.f-12.f-w-500 View
              .col-xl-7 
                .card.height-equal.title-line
                  .card-header.card-no-border
                    .header-top
                      h2 Projects Status
                      .card-header-right-icon
                        a.link-with-icon(href="#")
                          | View all
                          svg
                            use(href='../assets/svg/icon-sprite.svg#arrow-two-tone')
                  .card-body.project-datatable 
                    table#project-status.table
                      thead 
                        tr 
                          th Project
                          th Team
                          th Start Date
                          th Due Date
                          th Progress
                          th Status
                          th Action
                      tbody 
                        tr 
                          td Development
                          td
                            .customers
                              ul 
                                li.d-inline-block
                                  img.img-40.rounded-circle(src="../assets/images/dashboard/user/1.jpg", alt="user")
                                li.d-inline-block
                                  img.img-40.rounded-circle(src="../assets/images/dashboard/user/6.jpg", alt="user")
                                li.d-inline-block
                                  img.img-40.rounded-circle(src="../assets/images/dashboard/user/7.jpg", alt="user")
                                li.d-inline-block
                                  .light-card
                                    span.f-w-500 +5 
                          td  
                            span.f-light 12 Jan 2023
                          td  
                            span.f-light 15 Jan 2023           
                          td 
                          td
                            span.badge.badge-light-primary In Progress      
                          td
                            .dropdown.icon-dropdown.text-center
                              button#tableButton1.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#more-horizontal')
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='tableButton1')
                                a.dropdown-item(href='#') Edit
                                a.dropdown-item(href='#') Delete
              .col-xxl-5.col-ed-7.col-xl-7.box-col-7
                .card 
                  .card-header.card-no-border
                    .header-top
                      h5.m-0 Learning Overview
                        span.f-14.f-w-500.ms-1.f-light
                          | (75% activity growth)
                      .card-header-right-icon
                        .dropdown.icon-dropdown
                          button#learningButton.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                            i.icon-more-alt
                          .dropdown-menu.dropdown-menu-end(aria-labelledby='learningButton')
                            a.dropdown-item(href='#') Today
                            a.dropdown-item(href='#') Tomorrow
                            a.dropdown-item(href='#') Yesterday
                  .card-body.pt-0 
                    .learning-wrap 
                      #learning-chart
              .col-xxl-4.col-ed-7.col-xl-7.col-md-6.box-col-7 
                .card
                  .card-header.card-no-border
                    .header-top  
                      h5 Activity Hours
                      .dropdown.icon-dropdown
                        button#activitydropdown.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='activitydropdown')
                          a.dropdown-item(href='#') Today
                          a.dropdown-item(href='#') Tomorrow
                          a.dropdown-item(href='#') Yesterday 
                  .card-body.pt-0
                    .row.m-0.overall-card
                      .col-xl-8                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                        .chart-right
                          .row
                            .col-xl-12
                              .card-body.p-0
                                .activity-wrap
                                  #activity-chart
                      .col-xl-4.p-0
                        .row.g-sm-3.g-2.mt-0
                          .col-xl-12.col-md-6.col-sm-4
                            .light-card.balance-card
                              div 
                                span.f-light Time Spent
                                h6.mt-1.mb-0 30
                                  span.badge.badge-light-success.rounded-pill.ms-1 140%
                          .col-xl-12.col-md-6.col-sm-4
                            .light-card.balance-card
                              div 
                                span.f-light Lessons taken
                                h6.mt-1.mb-0 45
                                  span.badge.badge-light-success.rounded-pill.ms-1 86%
                          .col-xl-12.col-md-6.col-sm-4
                            .light-card.balance-card
                              div 
                                span.f-light Exams passed
                                h6.mt-1.mb-0 12
                                  span.badge.badge-light-success.rounded-pill.ms-1 120%
              .col-xxl-3.col-ed-5.col-xl-5.col-md-6.box-col-5
                .card
                  .card-header.card-no-border
                    .header-top  
                      h5 Upcoming Events
                      .dropdown.icon-dropdown
                        button#upcomingdropdown.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='upcomingdropdown')
                          a.dropdown-item(href='#') Today
                          a.dropdown-item(href='#') Tomorrow
                          a.dropdown-item(href='#') Yesterday 
                  .card-body.pt-0
                    .upcoming-event-wrap
                      #upcomingchart
              .col-xxl-5.col-ed-12.box-col-12 
                .card.course-card 
                  .card-header.card-no-border
                    .header-top
                      h5.m-0 My Course
                      .card-header-right-icon
                        .dropdown
                          button#popularButton.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                            | Most Popular
                          .dropdown-menu.dropdown-menu-end(aria-labelledby='popularButton')
                            a.dropdown-item(href='#') Today
                            a.dropdown-item(href='#') Tomorrow
                            a.dropdown-item(href='#') Yesterday
                  .card-body.pt-0
                    .course-main-card
                      .course-wrapper 
                        .course-icon-box
                          .icon-wrap
                            img(src="../assets/images/dashboard-3/course/1.svg", alt="clock vector") 
                          img.arrow-bg(src="../assets/images/dashboard-3/course/back-arrow/1.png", alt="sqaure border arrow")
                        h6.f-14 Management
                      .course-wrapper
                        .course-icon-box
                          .icon-wrap
                            img(src="../assets/images/dashboard-3/course/2.svg", alt="web development vector") 
                          img.arrow-bg(src="../assets/images/dashboard-3/course/back-arrow/2.png", alt="sqaure border arrow")
                        h6.f-14 Web Devlopment
                      .course-wrapper
                        .course-icon-box
                          .icon-wrap
                            img(src="../assets/images/dashboard-3/course/3.svg", alt="business vector") 
                          img.arrow-bg(src="../assets/images/dashboard-3/course/back-arrow/1.png", alt="sqaure border arrow")
                        h6.f-14 Business Analytics
                      .course-wrapper
                        .course-icon-box
                          .icon-wrap
                            img(src="../assets/images/dashboard-3/course/4.svg", alt="marketing vector") 
                          img.arrow-bg(src="../assets/images/dashboard-3/course/back-arrow/3.png", alt="sqaure border arrow")
                        h6.f-14 Marketing
              .col-xxl-4.col-ed-6.col-md-7.box-col-7
                .card.schedule-card
                  .card-header.card-no-border
                    .header-top
                      h5.m-0 Upcoming Schedule
                      .card-header-right-icon
                        a(href="#").btn.badge-light-primary + Create
                  .card-body.pt-0 
                    ul.schedule-list 
                      li.primary
                        img(src="../assets/images/dashboard/user/4.jpg", alt="profile")
                        div 
                          h6.mb-1 Web Design
                          ul
                            li.f-light
                              svg.fill-icon.f-light
                                use(href='../assets/svg/icon-sprite.svg#bag')
                              span January 3, 2022
                            li.f-light
                              svg.fill-icon.f-success
                                use(href='../assets/svg/icon-sprite.svg#clock')
                              span  09.00 - 12.00 AM
                      li.warning
                        img(src="../assets/images/dashboard/user/2.jpg", alt="profile")
                        div 
                          h6.mb-1 UI/UX Design
                          ul
                            li.f-light
                              svg.fill-icon.f-light
                                use(href='../assets/svg/icon-sprite.svg#bag')
                              span Febuary 10, 2022
                            li.f-light
                              svg.fill-icon.f-success
                                use(href='../assets/svg/icon-sprite.svg#clock')
                              span  11.00 - 1.00 PM
              .col-xxl-3.col-ed-6.col-md-5.col-sm-6.box-col-5
                .card
                  .card-header.card-no-border
                    .header-top
                      h5.m-0 Active Lessons
                      .card-header-right-icon
                        a(href="#").link-only View 
                          i(data-feather="arrow-right")
                  .card-body.pt-0 
                    ul.lessons-lists 
                      li 
                        img(src="../assets/images/dashboard-3/lessons/1.png", alt="ux icon")
                        div 
                          h6.f-14.f-w-400.mb-0 UI/UX 
                          span.f-light Web design
                        .lesson-wrap.ms-auto 
                          #lessonChart1 
                      li 
                        img(src="../assets/images/dashboard-3/lessons/2.png", alt="vue icon")
                        div 
                          h6.f-14.f-w-400.mb-0 Vue 3
                          span.f-light JS Framework
                        .lesson-wrap.ms-auto 
                          #lessonChart2
                      li 
                        img(src="../assets/images/dashboard-3/lessons/3.png", alt="bootstrap icon")
                        div 
                          h6.f-14.f-w-400.mb-0 Bootstrap 5
                          span.f-light Framework
                        .lesson-wrap.ms-auto 
                          #lessonChart3
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
