- var theme_customizer      = true;
- var touchspin_2           = true;
- var apex                  = true;
- var apexmoment            = true;
- var swiper                = true;
- var datatable_2           = true;
- var dashboard_default     = true;
- var notify                = true;
- var animate               = true;
- var typeahead             = true;
- var typeahead_search      = true;
- var sidebar               = true;
- var scrollbar             = true;
- var wow                   = true;
- var clock                 = true;
- var height_equal          = true; 

//- Breadcrumbs
-var pageTitle="Default"; 
-var breadcrumb=['Dashboard','Default'];

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-xxl-9
                .row 
                  .col-xl-6 
                    .card.title-line.upgrade-card.overflow-hidden
                      .row.align-items-end 
                        .col-md-8 
                          .card-header 
                            h2 Hi, Welcome back 
                              span.txt-primary Wade! 
                            p.mt-2.f-light Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            a.btn.btn-primary(href="#") Upgrade Plan 
                      .cartoon-image 
                        img.img-fluid(src="../assets/images/dashboard/welcome.png", alt="vector")
                      img.img-fluid.pattern-image(src="../assets/images/dashboard/bg-1.png", alt="vector pattern")
                  .col-xl-6
                    .row 
                      .col-xl-6 
                        .card
                          .card-body.widget-1
                            .widget-icon.primary 
                              svg
                                use(href='../assets/svg/icon-sprite.svg#crown') 
                            div 
                              h3 User Profile
                              span.f-w-500.f-light.f-12 Consectetur adipiscing 
                      .col-xl-6 
                        .card
                          .card-body.widget-1
                            .widget-icon.success
                              svg
                                use(href='../assets/svg/icon-sprite.svg#flash') 
                            div 
                              h3 Latest Trends
                              span.f-w-500.f-light.f-12 Minim veniam
                      .col-xl-6 
                        .card
                          .card-body.widget-1
                            .widget-icon.warning
                              svg
                                use(href='../assets/svg/icon-sprite.svg#blend-2') 
                            div 
                              h3 New Arrivals
                              span.f-w-500.f-light.f-12 Excepteur sint
                      .col-xl-6 
                        .card
                          .card-body.widget-1
                            .widget-icon.secondary
                              svg
                                use(href='../assets/svg/icon-sprite.svg#color-filter') 
                            div 
                              h3 Best Referrals
                              span.f-w-500.f-light.f-12 Quis nostrud exercitation
                  .col-xl-6 
                    .row 
                      .col-xl-6 
                        .card.title-line 
                          .card-header.card-no-border 
                            h2 Revenue
                            span.f-w-500.f-12.f-light.mt-0 Today Revenue 
                              span.txt-primary 30% OFF
                          .card-body.pt-0
                            .revenue-chart-container 
                              #revenue-chart
                      .col-xl-6 
                        .card.title-line 
                          .card-header.card-no-border 
                            h2 Sales Pipeline
                            span.f-w-500.f-12.f-light.mt-0 Special Discount 
                              span.txt-primary 60% OFF
                          .card-body.pt-0
                            .pipeline-chart-container 
                              #pipeline-chart
                      .col-xl-6 
                        .card.title-line 
                          .card-header.card-no-border 
                            h2 Satisfaction Rate
                          .card-body.pt-0 
                            .light-card.satisfaction-box.widget-1
                              .widget-icon.primary  
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#like-shape')
                              div 
                                h2 89,786(82%)
                                span.f-light.f-w-500.f-12 Vote by Consumer
                      .col-xl-6 
                        .card.title-line 
                          .card-header.card-no-border 
                            h2 Revenue by Industry
                          .card-body.pt-0
                            .revenue-slider-wrapper 
                              .swiper.revenue-swiper
                                .swiper-wrapper
                                  .swiper-slide 
                                    .light-card.satisfaction-box.progrees-widget
                                      .d-flex.justify-content-between.align-items-center
                                        span.social-content
                                          i.txt-primary.fa.fa-facebook-square.me-1
                                          span.f-12.f-w-500.f-light Facebook
                                        span.f-12.f-w-500.f-light 45%
                                      .progress.progress-stripe-primary.with-light-background.mt-2(style='height: 5px')
                                        .progress-bar-animated.progress-bar-striped(role='progressbar' style='width: 45%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100')
                                  .swiper-slide 
                                    .light-card.satisfaction-box.progrees-widget
                                      .d-flex.justify-content-between.align-items-center
                                        span.social-content
                                          i.txt-secondary.fa.fa-instagram.me-1
                                          span.f-12.f-w-500.f-light Instagram
                                        span.f-12.f-w-500.f-light 70%
                                      .progress.progress-stripe-secondary.with-light-background.mt-2(style='height: 5px')
                                        .progress-bar-animated.progress-bar-striped(role='progressbar' style='width: 70%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100')
                                  .swiper-slide 
                                    .light-card.satisfaction-box.progrees-widget
                                      .d-flex.justify-content-between.align-items-center
                                        span.social-content
                                          i.txt-success.fa.fa-twitter.me-1
                                          span.f-12.f-w-500.f-light Twitter 
                                        span.f-12.f-w-500.f-light 30%
                                      .progress.progress-stripe-success.with-light-background.mt-2(style='height: 5px')
                                        .progress-bar-animated.progress-bar-striped(role='progressbar' style='width: 30%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100')
                                .swiper-pagination
                  .col-xl-6 
                    .card.height-equal.title-line
                      .card-header.card-no-border
                        .header-top
                          h2 Total Profit
                            span.f-light.f-12.d-block.f-w-500 Special Discount 
                              span.txt-primary 60% OFF
                          .card-header-right-icon
                            .dropdown
                              button#overviewButton.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                | Weekly
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='overviewButton')
                                a.dropdown-item(href='#') Monthly
                                a.dropdown-item(href='#') weekly
                                a.dropdown-item(href='#') yearly
                      .card-body.pt-0 
                        .profit-data 
                          h2 $15,087
                            span.f-light.f-w-500.f-12 (Another 
                              span.txt-primary.me-1 $35,098  
                              | to Goal) 
                        .profit-chart-container 
                          #profit_chart 
                  .col-xl-6 
                    .card.title-line
                      .card-header.card-no-border
                        .header-top
                          div 
                            h2 Earning Reports
                              span.d-block.f-w-500.f-light.f-12 Weekly Earning Overview
                          .card-header-right-icon
                            .dropdown.icon-dropdown
                              button#earning-avg.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#more-horizontal')
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='earning-avg')
                                a.dropdown-item(href='#') Today
                                a.dropdown-item(href='#') Tomorrow
                                a.dropdown-item(href='#') Yesterday
                      .card-body.pt-0
                        .report-chart-container 
                          #earning-chart 
                        ul.report-list 
                          li 
                            .light-card.report-icon 
                              svg
                                use(href='../assets/svg/icon-sprite.svg#dollar-square')
                            div 
                              span.f-12.f-w-500.f-light Earning
                              h4.mt-1.f-w-600 $109.90
                                span.badge.badge-light-success.ms-1
                                  i.me-1(data-feather="trending-up")
                                  | 9.5%
                          li 
                            .light-card.report-icon 
                              svg
                                use(href='../assets/svg/icon-sprite.svg#status-up')
                            div 
                              span.f-12.f-w-500.f-light Profit
                              h4.mt-1.f-w-600 $98.50
                                span.badge.badge-light-primary.ms-1
                                  i.me-1(data-feather="trending-up")
                                  | 13.5%
                  .col-xl-6 
                    .card.title-line
                      .card-header.card-no-border
                        .header-top
                          h2 Upcoming Transaction
                            span.f-light.f-12.d-block.f-w-500 Special Discount 
                              span.txt-primary 60% OFF
                          .card-header-right-icon
                            .dropdown
                              button#overviewButton.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                | Weekly
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='overviewButton')
                                a.dropdown-item(href='#') Monthly
                                a.dropdown-item(href='#') weekly
                                a.dropdown-item(href='#') yearly
                      .card-body.pt-0.transaction-list 
                        ul 
                          li.transaction-title 
                            span.f-w-500.f-light.f-12 Today
                          li 
                            .transaction-content 
                              .transaction-icon.bg-light-primary 
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#bill')
                              .transaction-right-content  
                                div 
                                  h6 Water Bill
                                  span.f-light.f-12.f-w-500 Unsuccessfully
                                span.txt-danger.f-w-500 -$120
                          li.transaction-title 
                            span.f-w-500.f-light.f-12 Tomorrow
                          li 
                            .transaction-content 
                              .transaction-icon.bg-light-success 
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#payment')
                              .transaction-right-content  
                                div 
                                  h6 Income : Salary Oct
                                  span.f-light.f-12.f-w-500 Successfully
                                span.f-w-500 +$1200
                          li 
                            .transaction-content 
                              .transaction-icon.bg-light-warning
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#invoice')
                              .transaction-right-content  
                                div 
                                  h6 Electric Bill
                                  span.f-light.f-12.f-w-500 Successfully
                                span.f-w-500.txt-danger -$191
                          li 
                            .transaction-content 
                              .transaction-icon.bg-light-secondary
                                svg
                                  use(href='../assets/svg/icon-sprite.svg#transfer')
                              .transaction-right-content  
                                div 
                                  h6 Income : Jane transfers
                                  span.f-light.f-12.f-w-500 Successfully
                                span.f-w-500 +$540
                  .col-xl-6 
                    .card.title-line
                      .card-header.card-no-border
                        .header-top
                          h2 Members Statistics
                            span.f-12.f-w-500.f-light.d-block Over 10k members
                          .card-header-right-icon
                            a.link-with-icon(href="#")
                              | + Add New Member
                      .card-body.member-datatable.p-0 
                        table#member-table.table
                          thead 
                            tr 
                              th
                              th 
                                span.f-light.f-w-600 Authors
                              th 
                                span.f-light.f-w-600 Company
                              th 
                                span.f-light.f-w-600 Progress
                              th 
                                span.f-light.f-w-600 Action
                          tbody 
                            tr 
                              td 
                                .checkbox-checked
                                  .form-check
                                    input#checkbox-2.form-check-input(type='checkbox' value='')  
                              td 
                                .d-flex.gap-2 
                                  img(src="../assets/images/dashboard/user/2.jpg", alt="user")
                                  div 
                                    h6 Jerome Bell
                                    span.f-light.f-12.f-w-500 UI/UX designer
                              td 
                                h6 Louis Vuitton
                                span.f-light.f-12.f-w-500 Web, UI/UX designer
                              td 
                                span.f-w-500.f-12.f-light 70%
                                .progress.progress-stripe-primary.mt-2(style='height: 5px')
                                  .progress-bar-animated.progress-bar-striped(role='progressbar' style='width: 70%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100')
                              td
                                .d-flex.action-buttons
                                  a(href="#!").light-card 
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#edit-2')
                                  a(href="#!").light-card 
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#trash-fill')
                            tr 
                              td 
                                .checkbox-checked
                                  .form-check
                                    input#checkbox-3.form-check-input(type='checkbox' value='')  
                              td 
                                .d-flex.gap-2 
                                  img(src="../assets/images/dashboard/user/4.jpg", alt="user")
                                  div 
                                    h6 Ralph Edwards
                                    span.f-light.f-12.f-w-500 Web, Laravel
                              td 
                                h6 IBM
                                span.f-light.f-12.f-w-500 Web devlopment
                              td 
                                span.f-w-500.f-12.f-light 50%
                                .progress.progress-stripe-success.mt-2(style='height: 5px')
                                  .progress-bar-animated.progress-bar-striped(role='progressbar' style='width: 50%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100')
                              td
                                .d-flex.action-buttons
                                  a(href="#!").light-card 
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#edit-2')
                                  a(href="#!").light-card 
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#trash-fill')
                            tr 
                              td 
                                .checkbox-checked
                                  .form-check
                                    input#checkbox-4.form-check-input(type='checkbox' value='')  
                              td 
                                .d-flex.gap-2 
                                  img(src="../assets/images/dashboard/user/5.jpg", alt="user")
                                  div 
                                    h6 Esther Howard
                                    span.f-light.f-12.f-w-500 Laravel
                              td 
                                h6 Johnson
                                span.f-light.f-12.f-w-500 Unity Game
                              td 
                                span.f-w-500.f-12.f-light 83%
                                .progress.progress-stripe-secondary.mt-2(style='height: 5px')
                                  .progress-bar-animated.progress-bar-striped(role='progressbar' style='width: 83%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100')
                              td
                                .d-flex.action-buttons
                                  a(href="#!").light-card 
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#edit-2')
                                  a(href="#!").light-card 
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#trash-fill')
                            tr 
                              td 
                                .checkbox-checked
                                  .form-check
                                    input#checkbox-5.form-check-input(type='checkbox' value='')  
                              td 
                                .d-flex.gap-2 
                                  img(src="../assets/images/dashboard/user/1.png", alt="user")
                                  div 
                                    h6 Leslie Alexander
                                    span.f-light.f-12.f-w-500 3d Animation Designer
                              td 
                                h6 MasterCard
                                span.f-light.f-12.f-w-500 Marketing 
                              td 
                                span.f-w-500.f-12.f-light 79%
                                .progress.progress-stripe-warning.mt-2(style='height: 5px')
                                  .progress-bar-animated.progress-bar-striped(role='progressbar' style='width: 79%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100')
                              td
                                .d-flex.action-buttons
                                  a(href="#!").light-card 
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#edit-2')
                                  a(href="#!").light-card 
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#trash-fill')
                  .col-xl-6 
                    .card.title-line
                      .card-header.card-no-border
                        .header-top
                          h2 Top Referrals Pages
                            span.f-light.f-12.d-block.f-w-500 Up to $100 per referral
                          .card-header-right-icon
                            .dropdown
                              button#referralButton.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                | Report
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='referralButton')
                                a.dropdown-item(href='#') Monthly
                                a.dropdown-item(href='#') weekly
                                a.dropdown-item(href='#') yearly
                      .card-body.pt-0 
                        .referral-content 
                          .referral-left-details 
                            .d-flex 
                              h2 129,900
                              span.badge.badge-light-warning 
                                i.me-1(data-feather="trending-up")
                                | 4.5%
                            span.f-light.f-12.f-w-500 vs. previous month
                          .referral-image 
                            img(src="../assets/images/dashboard/1.png", alt="vector")
                        .progress-stacked
                          .progress(role='progressbar' aria-label='Segment one' aria-valuenow='15' aria-valuemin='0' aria-valuemax='100' style='width: 15%')
                            .progress-bar
                          .progress(role='progressbar' aria-label='Segment two' aria-valuenow='30' aria-valuemin='0' aria-valuemax='100' style='width: 30%')
                            .progress-bar.bg-success
                          .progress(role='progressbar' aria-label='Segment three' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='width: 20%')
                            .progress-bar.bg-info
              .col-xxl-3
          // Container-fluid Ends
        include ../../components/footer        
    include ../../components/footer-files
    script. 
      new WOW().init();