- var theme_customizer      = true;
- var touchspin_2           = true;
- var apex                  = true;
- var apexmoment            = true;
- var dashboard_default     = true;
- var notify                = true;
- var animate               = true;
- var typeahead             = true;
- var typeahead_search      = true;
- var sidebar               = true;
- var scrollbar             = true;
- var wow                   = true;
- var clock                 = true;
- var height_equal          = true; 

//- Breadcrumbs
-var pageTitle="Default"; 
-var breadcrumb=['Dashboard','Default'];

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-xxl-9
                .row 
                  .col-xl-6 
                    .card.title-line.upgrade-card.overflow-hidden
                      .row.align-items-end 
                        .col-md-8 
                          .card-header 
                            h2 Hi, Welcome back 
                              span.txt-primary Wade! 
                            p.mt-2.f-light Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            a.btn.btn-primary(href="#") Upgrade Plan 
                      .cartoon-image 
                        img.img-fluid(src="../assets/images/dashboard/welcome.png", alt="vector")
                      img.img-fluid.pattern-image(src="../assets/images/dashboard/bg-1.png", alt="vector pattern")
                  .col-xl-6
                    .row 
                      .col-xl-6 
                        .card
                          .card-body.widget-1
                            .widget-icon.primary 
                              svg
                                use(href='../assets/svg/icon-sprite.svg#crown') 
                            div 
                              h3 User Profile
                              span.f-w-500.f-light.f-12 Consectetur adipiscing 
                      .col-xl-6 
                        .card
                          .card-body.widget-1
                            .widget-icon.success
                              svg
                                use(href='../assets/svg/icon-sprite.svg#flash') 
                            div 
                              h3 Latest Trends
                              span.f-w-500.f-light.f-12 Minim veniam
                      .col-xl-6 
                        .card
                          .card-body.widget-1
                            .widget-icon.warning
                              svg
                                use(href='../assets/svg/icon-sprite.svg#blend-2') 
                            div 
                              h3 New Arrivals
                              span.f-w-500.f-light.f-12 Excepteur sint
                      .col-xl-6 
                        .card
                          .card-body.widget-1
                            .widget-icon.secondary
                              svg
                                use(href='../assets/svg/icon-sprite.svg#color-filter') 
                            div 
                              h3 Best Referrals
                              span.f-w-500.f-light.f-12 Quis nostrud exercitation
                  .col-xl-6 
                    .row 
                      .col-xl-6 
                        .card.title-line 
                          .card-header.card-no-border 
                            h2 Revenue
                            span.f-w-500.f-12.f-light.mt-0 Today Revenue 
                              span.txt-primary 30% OFF
                          .card-body.pt-0
                            .revenue-chart-container 
                              #revenue-chart
                      .col-xl-6 
                        .card.title-line 
                          .card-header.card-no-border 
                            h2 Sales Pipeline
                            span.f-w-500.f-12.f-light.mt-0 Special Discount 
                              span.txt-primary 60% OFF
                          .card-body.pt-0
                            .pipeline-chart-container 
                              #pipeline-chart
              .col-xxl-3
          // Container-fluid Ends
        include ../../components/footer        
    include ../../components/footer-files
    script. 
      new WOW().init();