// footer start
if footer_dark
  footer.footer.footer-dark
       .container-fluid
            .row
                .col-md-12.footer-copyright.text-center
                    p.mb-0 Copyright 2023 © Cuba theme by pixelstrap                  
                    

else if footer_fix
  footer.footer.footer-fix
       .container-fluid
            .row
                .col-md-12.footer-copyright.text-center
                    p.mb-0 Copyright 2023 © Cuba theme by pixelstrap  

else
  footer.footer
       .container-fluid
            .row
                .col-lg-6.footer-copyright
                    p.mb-0 Copyright 2023 © Yuri theme by pixelstrap
                .col-lg-6
                  .d-flex
                    ul.footer-language
                      li.language-nav
                        .translate_wrapper
                          .current_lang
                              span.lang-txt.f-light.f-w-500 English
                              span.ms-2 
                                i.fa.fa-caret-down.txt-primary           
                          .more_lang
                            .lang.selected(data-value='English')
                              span.lang-txt
                                | English
                                span  (US)
                            .lang(data-value='Deutsch')
                              span.lang-txt Deutsch
                            .lang(data-value='Español')
                              span.lang-txt Español
                            .lang(data-value='Français')
                              span.lang-txt Français
                            .lang(data-value='Português')
                              span.lang-txt
                                | Português
                                span  (BR)
                            .lang(data-value='简体中文')
                              span.lang-txt 简体中文
                            .lang(data-value='لعربية')
                              span.lang-txt
                                | لعربية 
                                span  (ae)  
                    .lang-title.f-light.f-w-500
                      i.me-1(data-feather="globe") 
                      span Select Region
